<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <queries>
        <package android:name="com.android.chrome" />
    </queries>


    <application
        android:name=".AppStartupManager"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.XScanner"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:name=".featureui.AppLauncherActivity"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".featureui.MainActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.MainBaseActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.AppIntroActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />


        <activity
            android:name=".featureui.BodyScannerActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.LiveScannerActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.XrayPreviewActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />


        <activity
            android:name=".featureui.SkinTonePickerActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.SkinToneInfoActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.AppearanceFilterActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />


        <activity
            android:name=".featureui.BodyTypeSelectorActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.BodyPartInfoActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.SelectBodyPartActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.BodyExplorerActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.BodyDetailsActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.GenderSelectionActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />


        <activity
            android:name=".featureui.SelectCountryActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.ImageUploadActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.SelectAgeActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.SpeciesInfoActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".featureui.ExitScreenActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

    </application>

</manifest>
